Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend, ansible-lint

pylint:
  name: pylint
  entry: venv/bin/pylint
  language: script

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext js
  language: system

build-frontend:
  name: Frontend codegen
  entry: make build
  language: system
  pass_filenames: false

ansible-lint:
  name: Ansible playbook and role linters
  entry: make lint-ansible
  language: system
  pass_filenames: false

Refactor global email to use new terraform module for g suite dns
  terraform/env/global/email.tf
Due: none

Add frklft.io email settings
  terraform/env/global/dns.tf
  terraform/env/global/email.tf
Due: none

Contact form cloudformation stack
  .pre-commit-config.yaml
  terraform/env/frklft-prod-northwest/contact-form-cloudformation-stack.yml
  terraform/env/frklft-prod-northwest/contact.tf
Due: none

Add contact sales and contact careers pages that integrate with sns lambda
  Makefile
  frklft/contact/careers.html
  frklft/contact/sales.html
  frklft/index.html
  frklft/team.html
Due: none

Add google analytics
  frklft/contact/careers.html
  frklft/contact/sales.html
  frklft/index.html
  frklft/team.html
Due: none

Correct heading for careers contact
  frklft/contact/careers.html
Due: none

Extract contact form js code from cloudformation template
  Makefile
  frklft/public/android-chrome-192x192.png
  frklft/public/android-chrome-512x512.png
  frklft/public/apple-touch-icon.png
  frklft/public/contact/careers.html
  frklft/public/contact/sales.html
  frklft/public/favicon.ico
  frklft/public/img/forklift-servers.png
  frklft/public/img/forklift-tires.jpg
  frklft/public/img/team/crane.jpg
  frklft/public/img/team/forklift.jpg
  frklft/public/img/team/front-loader.jpg
  frklft/public/img/team/speed-swing.jpg
  frklft/public/img/team/uneven-pavement.jpg
  frklft/public/img/tire-rack.png
  frklft/public/index.html
  frklft/public/logo.png
  frklft/public/robots.txt
  frklft/public/team.html
  frklft/src/index.js
  package.json
  terraform/env/frklft-prod-northwest/contact-form-cloudformation-stack.yml
  terraform/env/frklft-prod-northwest/contact.tf
  yarn.lock
Due: eslint, build-frontend

Add dev server that translates routes correctly
  frklft/src/dev.py
Due: pylint, build-frontend

Handle 404 by redirecting to index
  frklft/src/dev.py
Due: pylint, build-frontend

pipenv update
  Pipfile.lock
Due: none

Switch from community PPA to official nginx binaries
  Vagrantfile
  ansible/lb-local.yml
  ansible/roles/hyperbola-nginx/files/sites/00-no-default.nginx.conf
  ansible/roles/hyperbola-nginx/tasks/main.yml
  ansible/roles/hyperbola-nginx/vars/Debian.yml
Due: ansible-lint

Update django and other py deps
  Pipfile.lock
Due: none

Update ansible roles to silence some deprecation warnings
  Makefile
  ansible/roles/geerlingguy.ntp/.travis.yml
  ansible/roles/geerlingguy.ntp/meta/.galaxy_install_info
  ansible/roles/geerlingguy.ntp/meta/main.yml
  ansible/roles/geerlingguy.ntp/tasks/main.yml
  ansible/roles/geerlingguy.security/.gitignore
  ansible/roles/geerlingguy.security/.travis.yml
  ansible/roles/geerlingguy.security/LICENSE
  ansible/roles/geerlingguy.security/README.md
  ansible/roles/geerlingguy.security/meta/.galaxy_install_info
  ansible/roles/geerlingguy.security/meta/main.yml
  ansible/roles/geerlingguy.security/tasks/autoupdate-Debian.yml
  ansible/roles/geerlingguy.security/tasks/autoupdate-RedHat.yml
  ansible/roles/geerlingguy.security/tasks/fail2ban-Debian.yml
  ansible/roles/geerlingguy.security/tasks/fail2ban-RedHat.yml
  ansible/roles/geerlingguy.security/tasks/main.yml
  ansible/roles/geerlingguy.security/tests/README.md
  ansible/roles/geerlingguy.security/tests/test.yml
  ansible/roles/hswong3i.tzdata/meta/.galaxy_install_info
  ansible/roles/mprahl.lets-encrypt-route-53/CHANGELOG.md
  ansible/roles/mprahl.lets-encrypt-route-53/README.md
  ansible/roles/mprahl.lets-encrypt-route-53/defaults/main.yml
  ansible/roles/mprahl.lets-encrypt-route-53/handlers/main.yml
  ansible/roles/mprahl.lets-encrypt-route-53/meta/.galaxy_install_info
  ansible/roles/mprahl.lets-encrypt-route-53/tasks/main.yml
  ansible/roles/requirements.yml
Due: ansible-lint

Remove useless ansible-lint invocation
  Makefile
Due: none

Update hooks
  .pre-commit-config.yaml
Due: none

Remove circular dependency of makefile and pre-commit
  Makefile
Due: none

Remove deprecated hide-text class
  dist/main.bundle.css
  hyperbola/templates/base.html
Due: build-frontend

Update vagrant base vm
  Vagrantfile
Due: none

Remove bespoke ipv6 config
  ansible/roles/hyperbola-base/tasks/main.yml
Due: ansible-lint

Update packer base image
  packer/app.json
Due: none

Bump version: 0.132.0 → 0.133.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Make eslint deps match airbnb peerdeps
  package.json
  yarn.lock
Due: none

Upgrade to webpack 4
  Makefile
  dist/main.bundle.css
  dist/main.bundle.js
  hyperbola/templates/404.html
  package.json
  src/bootstrap.scss
  src/hyperbola.browser.js
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

Convert CSS to SCSS and theme bootstrap
  dist/main.bundle.css
  dist/main.bundle.js
  hyperbola/contact/templates/contact_base.html
  hyperbola/frontpage/templates/frontpage.html
  hyperbola/lifestream/templates/lifestream_paged.html
  src/header.scss
  src/hyperbola.browser.js
  src/main.css
  src/main.scss
  src/variables.scss
Due: eslint, build-frontend

Django 2.1 updates
  Pipfile
  Pipfile.lock
  hyperbola/lifestream/templates/lifestream_base.html
  hyperbola/templates/base.html
Due: none

update js deps
  yarn.lock
Due: none

Enable large picture uploads at nginx
  ansible/roles/hyperbola-app/templates/hyperbo.la.conf.j2
  ansible/roles/hyperbola-lb/templates/lb.conf.j2
Due: none

Bump version: 0.133.0 → 0.134.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Clean up bootstrap.scss
  dist/main.bundle.css
  src/bootstrap.scss
Due: build-frontend

Run frontend codegen when scss changes
  .pre-commit-config.yaml
Due: none

wip
  .dockerignore
  Dockerfile
  MANIFEST.in
Due: none

hack wip hack wip
  .dockerignore
  Dockerfile
  ansible/roles/hyperbola-app/handlers/main.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-base/defaults/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-base/tasks/main.yml
  hyperbola/settings.py
Due: pylint, ansible-lint

Build app image
  Dockerfile.app
  Dockerfile.mysql
Due: none

mysql container
  Dockerfile.mysql
Due: none

more progress. no fixtures yet
  Dockerfile.app
  Dockerfile.fixtures
  Pipfile
  Pipfile.lock
  ansible-docker/app.yml
  ansible-docker/local.ini
  ansible-docker/templates/dotenv.j2
  ansible-docker/templates/gunicorn.py.j2
  ansible-docker/vars/local.yml
  ansible-docker/vars/production.yml
  docker/fixtures-entrypoint.sh
Due: ansible-lint

mysql works
  Dockerfile.mysql
  docker/fixtures-entrypoint.sh
  docker/mysqld_charset.cnf
Due: none

Automated local builds and deploys using docker and make
  Dockerfile
  Dockerfile.mysql
  docker/Makefile
  docker/app/Dockerfile
  docker/app/ansible/app.yml
  docker/app/ansible/local.ini
  docker/app/ansible/templates/dotenv.j2
  docker/app/ansible/templates/gunicorn.py.j2
  docker/app/ansible/vars/local.yml
  docker/app/ansible/vars/production.yml
  docker/bin/launch-named-container
  docker/fixtures/Dockerfile
  docker/fixtures/fixtures-entrypoint.sh
  docker/mysql/Dockerfile
  docker/mysql/mysqld_charset.cnf
Due: ansible-lint

shell linter
  docker/fixtures/fixtures-entrypoint.sh
Due: none

Enable dotenv loading in vms, dev, and containers
  hyperbola/settings.py
Due: pylint

Discard changes made to ansible config
  ansible/roles/hyperbola-app/handlers/main.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-base/defaults/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-base/tasks/main.yml
Due: ansible-lint

Path conditions:
  pylint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, but not: min\.js$|dist
  build-frontend: any of: (src|dist|\.css$|\.js$|\.svg$|\.png$)
  ansible-lint: any of: ansible and \.(yaml|yml)$
