Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend, ansible-lint

pylint:
  name: pylint
  entry: venv/bin/pylint
  language: script

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext js
  language: system

build-frontend:
  name: Frontend codegen
  entry: make build
  language: system
  pass_filenames: false

ansible-lint:
  name: Ansible playbook and role linters
  entry: make lint-ansible
  language: system
  pass_filenames: false

Fixtures in vagrant land
  Makefile
  Vagrantfile
Due: none

Add vscode project settings
  .vscode/settings.json
Due: none

Add DNS private zone app.hyperboladc.net for mysql service discovery CNAME
  terraform/env/app-prod-northwest/dns.tf
Due: none

Generate django secret key for prod and sync ansible vars with local
  ansible/roles/hyperbola-app/vars/production.yml
Due: ansible-lint

Remove django-debug-toolbar and related packages
  Pipfile
  Pipfile.lock
Due: none

Upgrade AMI builder to c5.xlarge
  packer/app.json
Due: none

update pip infra in makefile for dev
  Makefile
Due: none

Bump python-version
  .python-version
Due: none

Bump version: 0.134.0 → 0.135.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Bump version: 0.135.0 → 0.136.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Missed some base directives renames
  ansible/roles/hyperbola-nginx/files/base/location/static/cross-domain-fonts.nginx.conf
  ansible/roles/hyperbola-nginx/files/sites/00-no-default.nginx.conf
Due: none

File provisioning for packer builder
  Vagrantfile
  packer/app.json
Due: none

Bump version: 0.136.0 → 0.137.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Upgrade from t2 to t3 instance family
  terraform/hyperbola/app/backend/main.tf
Due: none

Update local-development.md
  doc/local-development.md
Due: none

Update and rename local-development.md to development.md
  doc/development.md
Due: none

Update configuration.md
  doc/configuration.md
Due: none

pipenv upgrade
  Pipfile.lock
Due: none

Upgrade to django 2.1.2
  Pipfile
  Pipfile.lock
  ansible/roles/hyperbola-app/files/hyperbola-app@.service
Due: none

Bump version: 0.137.0 → 0.138.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Optimize costs
  terraform/hyperbola/app/backend/main.tf
Due: none

Remove minimizetemplates
  ansible/roles/hyperbola-app/tasks/main.yml
  docker/backend/Dockerfile
  hyperbola/core/_ManageMinimizers.py
  hyperbola/core/_TemplateTextMinimizer.py
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint, ansible-lint

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Upgrade js packages and enable minimization
  dist/logo.header.svg
  dist/main.bundle.css
  dist/main.bundle.js
  document-root/apple-touch-icon.png
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

Integrate prettier linter and pre-commit hook
  .pre-commit-config.yaml
  README.md
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

Update py and js deps
  Pipfile.lock
  yarn.lock
Due: none

update boto3
  Pipfile.lock
Due: none

Update ansible roles
  ansible/roles/geerlingguy.ntp/README.md
  ansible/roles/geerlingguy.ntp/defaults/main.yml
  ansible/roles/geerlingguy.ntp/meta/.galaxy_install_info
  ansible/roles/geerlingguy.ntp/meta/main.yml
  ansible/roles/geerlingguy.ntp/tasks/main.yml
  ansible/roles/geerlingguy.ntp/templates/ntp.conf.j2
  ansible/roles/geerlingguy.ntp/templates/timezone.j2
  ansible/roles/geerlingguy.ntp/vars/Archlinux.yml
  ansible/roles/geerlingguy.ntp/vars/Debian.yml
  ansible/roles/geerlingguy.ntp/vars/RedHat.yml
  ansible/roles/geerlingguy.ntp/vars/Suse.yml
  ansible/roles/mprahl.lets-encrypt-route-53/meta/.galaxy_install_info
  ansible/roles/mprahl.lets-encrypt-route-53/tasks/main.yml
  ansible/roles/requirements.yml
Due: ansible-lint

Upgrade python to 3.7.x
  .python-version
  ansible/app.yml
Due: ansible-lint

Remove dpkg base package dump
  ansible/provision.yml
Due: ansible-lint

Fix Ansible 2.7 package installer deprecation warnings
  ansible/lb-local.yml
  ansible/mysql-local.yml
  ansible/provision.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-base/tasks/main.yml
  ansible/roles/hyperbola-nginx/tasks/main.yml
Due: ansible-lint

Remove unused GitHub download vars
  ansible/roles/hyperbola-app/defaults/main.yml
Due: ansible-lint

Ansible YAML format
  ansible/app.yml
  ansible/lb-local.yml
  ansible/provision.yml
  ansible/roles/hyperbola-app/meta/main.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-lb/meta/main.yml
  ansible/roles/hyperbola-nginx/defaults/main.yml
Due: ansible-lint

Use native ansible module to set timezone
  .pre-commit-config.yaml
  ansible/roles/hswong3i.tzdata/.travis.yml
  ansible/roles/hswong3i.tzdata/LICENSE
  ansible/roles/hswong3i.tzdata/README.md
  ansible/roles/hswong3i.tzdata/ansible.cfg
  ansible/roles/hswong3i.tzdata/defaults/main.yml
  ansible/roles/hswong3i.tzdata/handlers/main.yml
  ansible/roles/hswong3i.tzdata/meta/.galaxy_install_info
  ansible/roles/hswong3i.tzdata/meta/main.yml
  ansible/roles/hswong3i.tzdata/tasks/main.yml
  ansible/roles/hswong3i.tzdata/templates/etc/timezone.j2
  ansible/roles/hswong3i.tzdata/tests/group_vars/all
  ansible/roles/hswong3i.tzdata/tests/hosts
  ansible/roles/hswong3i.tzdata/tests/test.yml
  ansible/roles/hswong3i.tzdata/vars/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-base/tasks/main.yml
  ansible/roles/requirements.yml
Due: ansible-lint

Add blog app
  .pre-commit-config.yaml
  Makefile
  Vagrantfile
  dist/main.bundle.css
  hyperbola/blog/__init__.py
  hyperbola/blog/admin.py
  hyperbola/blog/apps.py
  hyperbola/blog/migrations/0001_initial.py
  hyperbola/blog/migrations/__init__.py
  hyperbola/blog/models.py
  hyperbola/blog/templates/blog_post.html
  hyperbola/blog/urls.py
  hyperbola/blog/views.py
  hyperbola/settings.py
  hyperbola/urls.py
  src/variables.scss
Due: pylint, build-frontend

Run prettier on codebase
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  ansible/roles/hyperbola-nginx/files/README.md
  bin/yperbola-outline.js
  doc/development.md
  docker/static/README.md
  package.json
  packer/app.json
  setup.cfg
  src/img/README.md
  src/main.js
  terraform/README.md
Due: eslint, build-frontend, ansible-lint

Bump version: 0.139.0 → 0.140.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

fixup python-dotenv dep
  Pipfile
  Pipfile.lock
Due: none

Bump version: 0.140.0 → 0.141.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Path conditions:
  pylint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, but not: min\.js$|dist
  build-frontend: any of: (src|dist|\.css$|\.js$|\.svg$|\.png$)
  ansible-lint: any of: ansible and \.(yaml|yml)$
