Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit
    rev: v1.12.0
    hooks:
    -   id: validate_manifest
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v2.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
        language_version: python3
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        exclude: vars|(lb|mysql)-local.yml|cloudformation
    -   id: debug-statements
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.bumpversion\.cfg
    -   id: flake8
        language_version: python3
    -   id: forbid-new-submodules
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: trailing-whitespace
        exclude: \.bumpversion\.cfg
-   repo: https://github.com/prettier/prettier
    rev: 1.14.2
    hooks:
    - id: prettier
      exclude: \.vscode|\.html$
-   repo: https://github.com/ambv/black.git
    rev: 18.9b0
    hooks:
    -   id: black
-   repo: https://github.com/willthames/ansible-lint.git
    rev: v3.5.1
    hooks:
    -   id: ansible-lint
        types: [yaml]
        files: ansible
-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.1.0
    hooks:
    -   id: python-safety-dependencies-check
        always_run: true
-   repo: https://github.com/chewse/pre-commit-mirrors-pydocstyle.git
    rev: v2.1.1
    hooks:
    -   id: pydocstyle
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: python -m pylint.__main__
        language: system
        types: [python]
-   repo: https://github.com/asottile/pyupgrade.git
    rev: v1.10.1
    hooks:
    -   id: pyupgrade
        args:
        -   "--py36-plus"
-   repo: https://github.com/antonbabenko/pre-commit-terraform.git
    rev: v1.7.3
    hooks:
    -   id: terraform_fmt
    -   id: terraform_validate_with_variables
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: yarn run eslint
        language: system
        types: [javascript]
-   repo: https://github.com/pre-commit/mirrors-csslint.git
    rev: v1.0.5
    hooks:
    -   id: csslint
-   repo: https://github.com/detailyang/pre-commit-shell
    rev: 1.0.4
    hooks:
    -   id: shell-lint
        types: [shell]
        files: ''
-   repo: local
    hooks:
    -   id: git-lint
        name: Ignored files in git index
        entry: ./bin/git-lint
        language: script
        always_run: true
        pass_filenames: false

Fix AWS packer bootstrap
  ansible/roles/hyperbola-base/tasks/main.yml
Due: none

Bump version: 0.150.0 → 0.150.1
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Happy 2019 :tada:
  LICENSE
Due: none

typo
  README.md
Due: none

update js deps
  yarn.lock
Due: none

Pull in fix for html-webpack-plugin bug in webapp-webpack-plugin
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

Bump ansible role deps
  ansible/requirements.yml
Due: none

Fix breakage in app-local provisioning
  Vagrantfile
Due: none

Fix incorrect IAM permissions for lb-local user for Let's Encrypt route53 provisioning
  terraform/app-local-iad/main.tf
Due: none

Hard wrap markdown files
  .pre-commit-config.yaml
  README.md
  ansible/roles/hyperbola-base/README.md
  ansible/roles/hyperbola-nginx/README.md
  ansible/roles/hyperbola-nginx/files/README.md
  doc/configuration.md
  doc/development.md
  doc/release-process.md
  terraform/README.md
Due: none

bump python version
  .python-version
Due: none

Update pre-commit config
  .ansible-lint
  .pre-commit-config.yaml
Due: none

yarn upgrade
  package.json
  yarn.lock
Due: none

upgrade python deps
  poetry.lock
  pyproject.toml
Due: none

Bump version: 0.150.1 → 0.151.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Remove VS Code settings which are obsoleted by the move to poetry
  .vscode/settings.json
Due: none

Upgrade terraform AWS provider to 2.6.0
  terraform/app-local-iad/aws.tf
  terraform/app-local-iad/main.tf
  terraform/app-prod-pdx/aws.tf
  terraform/global/aws.tf
  terraform/global/main.tf
  terraform/lab/aws.tf
  terraform/lab/main.tf
  terraform/modules/hyperbola/app/base/media.tf
  terraform/state/aws.tf
  terraform/state/main.tf
Due: none

remove accidentally checked in temporary file
  terraform/app-local-iad/temp
Due: none

Update Django to 2.2.1 and bump all other python deps
  poetry.lock
Due: none

pre-commit hooks autoupdate
  .pre-commit-config.yaml
Due: none

Bump version: 0.151.0 → 0.152.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Add img class and srcset properties to bleach whitelist for markdown filter
  hyperbola/core/templatetags/hyperbola_core_tags.py
Due: pylint

Bump version: 0.152.0 → 0.153.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Upgrade to terraform 0.12
  tasks.py
  terraform/app-local-iad/aws.tf
  terraform/app-local-iad/main.tf
  terraform/app-prod-pdx/aws.tf
  terraform/app-prod-pdx/dns.tf
  terraform/app-prod-pdx/main.tf
  terraform/app-prod-pdx/versions.tf
  terraform/app-prod-pdx/vpc.tf
  terraform/global/aws.tf
  terraform/global/main.tf
  terraform/lab/aws.tf
  terraform/lab/main.tf
  terraform/modules/aws/network/management/main.tf
  terraform/modules/aws/network/nat/nat.tf
  terraform/modules/aws/network/network.tf
  terraform/modules/aws/network/private_subnet/private_subnet.tf
  terraform/modules/aws/network/public_subnet/public_subnet.tf
  terraform/modules/aws/network/vpc/vpc.tf
  terraform/modules/aws/util/iam/iam.tf
  terraform/modules/hyperbola/app/backend/main.tf
  terraform/modules/hyperbola/app/backend/security-groups.tf
  terraform/modules/hyperbola/app/base/backup.tf
  terraform/modules/hyperbola/app/base/media.tf
  terraform/modules/hyperbola/app/iam/main.tf
  terraform/modules/hyperbola/app/mysql/main.tf
  terraform/modules/hyperbola/app/secrets/main.tf
  terraform/state/aws.tf
  terraform/state/main.tf
Due: pylint

whitelist some bootstrap image helpers for blogs
  webpack.config.js
Due: eslint

Bump version: 0.153.0 → 0.154.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

whitelist mw-100 image bootstrap helper
  webpack.config.js
Due: eslint

Bump version: 0.154.0 → 0.155.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Fix Ansible type coercion warning
  ansible/roles/hyperbola-base/tasks/main.yml
Due: none

Upgrade JS deps
  package.json
  yarn.lock
Due: none

Update python deps
  poetry.lock
Due: none

major version upgrades for py deps
  poetry.lock
  pyproject.toml
Due: none

Remove purgecss from webpack build
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

Switch pygments colorscheme to Monokai
  src/_syntax.scss
Due: none

Fixes for lint failures from black and pydocstyle updates
  hyperbola/core/__init__.py
  hyperbola/core/templatetags/hyperbola_core_tags.py
  hyperbola/lifestream/templatetags/hyperbola_lifestream_tags.py
  pyproject.toml
Due: pylint

Add footnotes extension to markdown renderer
  hyperbola/core/templatetags/hyperbola_core_tags.py
Due: pylint

Bump version: 0.155.0 → 0.156.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

update py deps
  poetry.lock
Due: none
