Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend, ansible-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit
    sha: v1.4.3
    hooks:
    -   id: validate_manifest
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    sha: v1.1.1
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
        language_version: python3
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        exclude: vars|app-local-mysql.yml
    -   id: debug-statements
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
    -   id: flake8
        exclude: migrations
        language_version: python3
    -   id: forbid-new-submodules
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: trailing-whitespace
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
-   repo: https://github.com/adambrenecki/pre-commit-python-sorter.git
    sha: 1.0.5
    hooks:
    -   id: python-import-sorter
        types: [python]
        files: ''
-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    sha: v1.1.0
    hooks:
    -   id: python-safety-dependencies-check
        always_run: true
-   repo: https://github.com/chewse/pre-commit-mirrors-pydocstyle.git
    sha: v2.1.1
    hooks:
    -   id: pydocstyle
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: venv/bin/pylint
        language: script
        types: [python]
-   repo: https://github.com/asottile/pyupgrade.git
    sha: v1.2.0
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/antonbabenko/pre-commit-terraform.git
    sha: v1.2.0
    hooks:
    -   id: terraform_fmt
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        types: [javascript]
        exclude: min\.js$|dist
        entry: node_modules/.bin/eslint --ext js
        language: system
-   repo: https://github.com/pre-commit/mirrors-csslint.git
    sha: v1.0.5
    hooks:
    -   id: csslint
        exclude: min\.css$|dist
-   repo: https://github.com/detailyang/pre-commit-shell
    sha: 1.0.2
    hooks:
    -   id: shell-lint
        types: [shell]
        files: ''
        exclude: geerlingguy|hswong3i
-   repo: local
    hooks:
    -   id: build-frontend
        name: Frontend codegen
        entry: make build
        language: system
        files: (src|dist|\.css$|\.js$|\.svg$|\.png$)
        pass_filenames: false
    -   id: ansible-lint
        name: Ansible playbook and role linters
        entry: make lint-ansible
        language: system
        types: [yaml]
        files: ansible
        pass_filenames: false
    -   id: git-lint
        name: Git linters
        entry: make lint-git
        language: system
        always_run: true
        pass_filenames: false

Bump version: 0.126.1 → 0.126.2
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Rename app-mysql vm and config to mysql-local for consistency
  .pre-commit-config.yaml
  Makefile
  Vagrantfile
  ansible/mysql-local.yml
Due: ansible-lint

Update purgecss to pull in keyframes fix
  dist/main.bundle.css
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

Upgrade bootstrap to 4.0.0-beta.3
  dist/main.bundle.css
  package.json
  yarn.lock
Due: build-frontend

Upgrade py deps
  dev-requirements.txt
  requirements.txt
Due: none

Bump version: 0.126.2 → 0.127.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Upgrade to bootstrap 4.0.0
  dist/main.bundle.css
  package.json
  yarn.lock
Due: build-frontend

Include static directives for static assets served off hyperbo.la domain
  ansible/roles/hyperbola-app/templates/hyperbo.la.conf.j2
Due: none

Enable HTTPS in local env
  .pre-commit-config.yaml
  Makefile
  Vagrantfile
  ansible/lb-local.yml
  ansible/local.ini
  ansible/roles/hyperbola-lb/meta/main.yml
  ansible/roles/hyperbola-lb/templates/lb.conf.j2
  ansible/roles/hyperbola-nginx/files/nginx-base-config/directive-only/ssl/spdy.nginx.conf
  ansible/roles/mprahl.lets-encrypt-route-53/.gitignore
  ansible/roles/mprahl.lets-encrypt-route-53/CHANGELOG.md
  ansible/roles/mprahl.lets-encrypt-route-53/README.md
  ansible/roles/mprahl.lets-encrypt-route-53/defaults/main.yml
  ansible/roles/mprahl.lets-encrypt-route-53/meta/.galaxy_install_info
  ansible/roles/mprahl.lets-encrypt-route-53/meta/main.yml
  ansible/roles/mprahl.lets-encrypt-route-53/tasks/main.yml
  ansible/roles/mprahl.lets-encrypt-route-53/tasks/virtualenv.yml
  ansible/roles/requirements.yml
  dev-requirements.in
  dev-requirements.txt
  hyperbola/settings.py
  terraform/env/local/main.tf
Due: pylint, ansible-lint

Bump version: 0.127.0 → 0.128.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

settings love
  hyperbola/settings.py
Due: pylint

Enable pip hash-checking mode
  Makefile
  dev-requirements.txt
  requirements.txt
Due: none

Revert deleting ansible/local.ini
  ansible/local.ini
Due: none

Switch from pip-tools to pipenv
  Makefile
  Pipfile
  Pipfile.lock
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

Remove pip-tools config
  dev-requirements.in
  dev-requirements.txt
  requirements.in
  requirements.txt
Due: none

Point pipenv at the right things when installing with ansible
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

Clean up setup.cfg, remove unused sections
  setup.cfg
Due: none

update js packages
  package.json
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Don't install pipenv in a virtualenv
  Makefile
  Pipfile
  Pipfile.lock
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

autoformat pipfile
  Pipfile
  Pipfile.lock
Due: none

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Install django-template-minimizer from my fork
  Pipfile
  Pipfile.lock
  hyperbola/settings.py
Due: pylint

Minimize templates as part of ansible playbook
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

Bump version: 0.128.0 → 0.129.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

configurable verbosity for vagrant ansible
  .editorconfig
  Vagrantfile
Due: none

Update python packages
  Pipfile.lock
Due: none

update django template minimizer
  Pipfile
  Pipfile.lock
Due: none

Bump version: 0.129.0 → 0.129.1
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

bump django-template-minimizer
  Pipfile.lock
Due: none

Bump version: 0.129.1 → 0.129.2
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

update tmin
  Pipfile.lock
Due: none

Bump version: 0.129.2 → 0.129.3
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Import django-template-minimizer from fork
  hyperbola/core/_ManageMinimizers.py
  hyperbola/core/_TemplateTextMinimizer.py
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint

Fixup tmin import for linter
  hyperbola/core/_ManageMinimizers.py
  hyperbola/core/_TemplateTextMinimizer.py
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint

Fix import broken by tmin file reorganization
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint

Remove pipenv dep on external repository for tmin
  Pipfile
  Pipfile.lock
Due: none

Remove tmin app
  hyperbola/settings.py
Due: pylint

Don't fail if an archive dir exists, just skip processing
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint

Format help text
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint
