Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend, ansible-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit
    sha: v1.4.3
    hooks:
    -   id: validate_manifest
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    sha: v1.1.1
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
        language_version: python3
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        exclude: vars|app-local-mysql.yml
    -   id: debug-statements
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
    -   id: flake8
        exclude: migrations
        language_version: python3
    -   id: forbid-new-submodules
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: trailing-whitespace
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
-   repo: https://github.com/adambrenecki/pre-commit-python-sorter.git
    sha: 1.0.5
    hooks:
    -   id: python-import-sorter
        types: [python]
        files: ''
-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    sha: v1.1.0
    hooks:
    -   id: python-safety-dependencies-check
        always_run: true
-   repo: https://github.com/chewse/pre-commit-mirrors-pydocstyle.git
    sha: v2.1.1
    hooks:
    -   id: pydocstyle
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: venv/bin/pylint
        language: script
        types: [python]
-   repo: https://github.com/asottile/pyupgrade.git
    sha: v1.2.0
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/antonbabenko/pre-commit-terraform.git
    sha: v1.2.0
    hooks:
    -   id: terraform_fmt
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        types: [javascript]
        exclude: min\.js$|dist
        entry: node_modules/.bin/eslint --ext js
        language: system
-   repo: https://github.com/pre-commit/mirrors-csslint.git
    sha: v1.0.5
    hooks:
    -   id: csslint
        exclude: min\.css$|dist
-   repo: https://github.com/detailyang/pre-commit-shell
    sha: 1.0.2
    hooks:
    -   id: shell-lint
        types: [shell]
        files: ''
        exclude: geerlingguy|hswong3i
-   repo: local
    hooks:
    -   id: build-frontend
        name: Frontend codegen
        entry: make build
        language: system
        files: (src|dist|\.css$|\.js$|\.svg$|\.png$)
        pass_filenames: false
    -   id: ansible-lint
        name: Ansible playbook and role linters
        entry: make lint-ansible
        language: system
        types: [yaml]
        files: ansible
        pass_filenames: false
    -   id: git-lint
        name: Git linters
        entry: make lint-git
        language: system
        always_run: true
        pass_filenames: false

Remove unused active_app block
  hyperbola/blog/templates/blog_post.html
  hyperbola/contact/templates/contact_base.html
  hyperbola/frontpage/templates/frontpage.html
  hyperbola/lifestream/templates/lifestream_base.html
Due: none

Fix collapsable navbar on mobile
  dist/main.bundle.css
  src/bootstrap.scss
Due: build-frontend

Add blog index
  hyperbola/blog/templates/blog_index.html
  hyperbola/blog/templates/blog_post.html
  hyperbola/blog/urls.py
  hyperbola/blog/views.py
  hyperbola/templates/base.html
Due: pylint

Bump version: 0.141.0 → 0.142.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Add code blocks and syntax highlighting to markdown template tag
  Pipfile
  Pipfile.lock
  dist/main.bundle.css
  dist/main.bundle.js
  hyperbola/core/templatetags/hyperbola_core_tags.py
  src/bootstrap.scss
  src/main.js
  src/pygments.solarized-dark.css
  src/pygments.solarized-light.css
Due: pylint, eslint, build-frontend

Add attribution for pygments syntax CSS
  src/README.md
  src/img/README.md
Due: build-frontend

Move ansible-lint out of Pipfile and Makefile and into pre-commit
  .ansible-lint
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  Vagrantfile
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/meta/.galaxy_install_info
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/tasks/main.yml
Due: ansible-lint

Update hooks
  .pre-commit-config.yaml
Due: none

Enable --py36-plus mode on pyupgrade
  .pre-commit-config.yaml
  bin/deregister_ami
  hyperbola/contact/models.py
  hyperbola/core/__init__.py
  hyperbola/core/management/commands/hyperbola_database_backup.py
  hyperbola/core/middleware.py
  hyperbola/frontpage/models.py
  hyperbola/lifestream/models.py
  hyperbola/lifestream/templatetags/hyperbola_lifestream_tags.py
  hyperbola/lifestream/views.py
  hyperbola/settings.py
  hyperbola/shortlinks/models.py
Due: pylint

rubocop fixups in Vagrantfile
  Vagrantfile
Due: none

Clean up pygments integration
  dist/main.bundle.css
  dist/main.bundle.js
  hyperbola/core/templatetags/hyperbola_core_tags.py
  src/main.js
  src/main.scss
  src/pygments.solarized-dark.css
  src/pygments.solarized-dark.scss
  src/pygments.solarized-light.css
Due: pylint, eslint, build-frontend

Bump version: 0.142.0 → 0.143.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Update configuration.md
  doc/configuration.md
Due: none

Update development.md
  doc/development.md
Due: none

Update release-process.md
  doc/release-process.md
Due: none

prettier
  doc/configuration.md
Due: none

yarn upgrade
  yarn.lock
Due: none

Refactor asset pipeline to run as part of ansible provisioning
  .gitignore
  Makefile
  Vagrantfile
  ansible/app.yml
  ansible/roles/hyperbola-app/files/humans.txt
  ansible/roles/hyperbola-app/files/robots.txt
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-app/templates/hyperbo.la.conf.j2
  dist/logo.header.svg
  dist/main.bundle.css
  dist/main.bundle.js
  document-root/apple-touch-icon.png
  document-root/favicon.ico
  document-root/static/.gitignore
  hyperbola/settings.py
  package.json
  packer/app.json
  src/_bootstrap.scss
  src/_header.scss
  src/_syntax.scss
  src/_variables.scss
  src/brand.svg
  src/img/.gitignore
  src/img/Hyperbola_properties.svg
  src/img/logo.header.original.svg
  src/logo.png
  src/logo.svg
  src/main.scss
  webpack.config.js
  yarn.lock
Due: pylint, eslint, build-frontend, ansible-lint

Clean up pre-commit hooks
  .pre-commit-config.yaml
  bin/git-lint
Due: none

Fix svg to png generation
  ansible/roles/hyperbola-app/tasks/main.yml
  src/logo.png
  webpack.config.js
Due: eslint, build-frontend, ansible-lint

Remove .nginx infix from nginx config files
  ansible/roles/hyperbola-app/templates/hyperbo.la.conf.j2
  ansible/roles/hyperbola-lb/templates/lb.conf.j2
  ansible/roles/hyperbola-nginx/files/README.md
  ansible/roles/hyperbola-nginx/files/base/base/01-server-tokens.conf
  ansible/roles/hyperbola-nginx/files/base/base/02-gzip.conf
  ansible/roles/hyperbola-nginx/files/base/base/03-logs-to-journald.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/cache-file-descriptors.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/charset-utf8.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/no-transform.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/ssl/hsts.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/ssl/ssl-stapling.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/ssl/ssl.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/static/extra-security.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/x-ua-compatible.conf
  ansible/roles/hyperbola-nginx/files/base/internal/cross-domain-insecure.conf
  ansible/roles/hyperbola-nginx/files/base/location/health-check.conf
  ansible/roles/hyperbola-nginx/files/base/location/no-log.conf
  ansible/roles/hyperbola-nginx/files/base/location/static/cross-domain-fonts.conf
  ansible/roles/hyperbola-nginx/files/base/location/static/expires.conf
  ansible/roles/hyperbola-nginx/files/base/location/static/protect-system-files.conf
  ansible/roles/hyperbola-nginx/files/sites/00-no-default.conf
  ansible/roles/hyperbola-nginx/tasks/main.yml
Due: ansible-lint

Remove apple touch icon from HTML
  hyperbola/templates/base.html
Due: none

Bump version: 0.143.0 → 0.144.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Pin AMI version in terraform config
  .bumpversion.cfg
  terraform/hyperbola/app/backend/main.tf
Due: none

Remove lint task from makefile
  Makefile
Due: none

Make clean task more robust
  Makefile
Due: none

Audit base django files
  hyperbola/settings.py
  manage.py
Due: pylint

Use more comprehensions in deregister_ami
  bin/deregister_ami
Due: none

Capitalize Lifestream page title for consistency with other apps
  hyperbola/lifestream/templates/lifestream_base.html
Due: none

Remove dangling docker config reference
  .ansible-lint
Due: none

Update to django 2.1.3
  Pipfile.lock
Due: none

Install ansible role dependencies from galaxy
  ansible/roles/geerlingguy.ntp/meta/.galaxy_install_info
  ansible/roles/geerlingguy.security/meta/.galaxy_install_info
  ansible/roles/mprahl.lets-encrypt-route-53/meta/.galaxy_install_info
  ansible/roles/requirements.yml
Due: ansible-lint

pre-commit autoupgrade and remove src/dist from excludes
  .pre-commit-config.yaml
Due: none

Bump version: 0.144.0 → 0.145.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
  terraform/hyperbola/app/backend/main.tf
Due: ansible-lint

Make hyperbola-core middleware more robust
  .bumpversion.cfg
  hyperbola/__init__.py
  hyperbola/core/middleware.py
  hyperbola/settings.py
Due: pylint

Remove separate provision.yml playbook
  Vagrantfile
  ansible/mysql-local.yml
  ansible/provision.yml
  ansible/roles/hyperbola-base/tasks/ansible.yml
  ansible/roles/hyperbola-base/tasks/main.yml
  packer/app.json
Due: ansible-lint

Cleanup after provisioning
  ansible/roles/hyperbola-app/tasks/build-cleanup.yml
  ansible/roles/hyperbola-app/tasks/build-setup.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-nginx/tasks/main.yml
  packer/app.json
  packer/scripts/ansible.sh
  packer/scripts/cleanup.sh
Due: ansible-lint
