Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint

pylint:
  name: pylint
  entry: python -m pylint.__main__
  language: system

eslint:
  name: eslint
  entry: yarn run eslint
  language: system

Run eslint pre-commit hook with yarn
  .pre-commit-config.yaml
Due: none

Use poetry for python packaging
  .pre-commit-config.yaml
  .python-version
  MANIFEST.in
  Pipfile
  Pipfile.lock
  README.md
  Vagrantfile
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
  ansible/roles/hyperbola-app/tasks/build-cleanup.yml
  ansible/roles/hyperbola-app/tasks/build-setup.yml
  ansible/roles/hyperbola-app/templates/dotenv.j2
  doc/development.md
  hyperbola/settings.py
  packer/app.json
  poetry.lock
  pyproject.toml
  setup.cfg
  setup.py
  tasks.py
Due: pylint

Remove dotenv-exec
  bin/dotenv-exec
Due: none

update bumpversion config for pyproject.toml
  .bumpversion.cfg
Due: none

Add iam instance profile to packer builder
  packer/app.json
  tasks.py
Due: pylint

Enable SSM in prod VPC
  terraform/modules/aws/network/endpoints/main.tf
  terraform/modules/aws/network/network.tf
  terraform/modules/hyperbola/app/backend/main.tf
  terraform/modules/hyperbola/app/backend/security-groups.tf
  terraform/modules/hyperbola/app/base/iam.tf
Due: none

[WIP] Secrets via Parameter Store
  .pylintrc
  hyperbola/settings.py
  poetry.lock
  pyproject.toml
  terraform/app-local-iad/main.tf
  terraform/modules/hyperbola/app/secrets/main.tf
Due: pylint

local env pulls secrets from SSM
  ansible/roles/hyperbola-app/files/hyperbola-app-backup@.service
  ansible/roles/hyperbola-app/files/hyperbola-app@.service
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
  terraform/app-local-iad/main.tf
  terraform/modules/hyperbola/app/secrets/main.tf
Due: none

Remove python-dotenv as an app dependency
  hyperbola/settings.py
  poetry.lock
  pyproject.toml
Due: pylint

Add secrets in production
  tasks.py
  terraform/app-prod-pdx/main.tf
Due: pylint

Remove secrets from ansible provisioning
  ansible/roles/hyperbola-app/templates/dotenv.j2
  ansible/roles/hyperbola-app/vars/local.yml
  ansible/roles/hyperbola-app/vars/production.yml
Due: none

Bump version: 0.148.0 → 0.149.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Push tags in inv release
  tasks.py
Due: pylint

Bump version: 0.149.0 → 0.149.1
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Only set AWS_ environment variables if overrides are present in role vars
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
Due: none

Fix validation warnings in IAM policies
  terraform/app-local-iad/main.tf
  terraform/modules/hyperbola/app/base/iam.tf
Due: none

Bump version: 0.149.1 → 0.149.2
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Revert bad deploy
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Properly configure security groups for SSM endpoint
  terraform/modules/hyperbola/app/backend/security-groups.tf
Due: none

Roll forward to 0.149.2
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Revert "Roll forward to 0.149.2"
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

enable private dns
  terraform/modules/hyperbola/app/backend/security-groups.tf
Due: none

Add --dry-run option to deploy.finalize
  doc/release-process.md
  tasks.py
Due: pylint

Bump version: 0.149.2 → 0.149.3
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Create a management domain in app-prod-pdx
  packer/app.json
  tasks.py
  terraform/app-prod-pdx/main.tf
  terraform/modules/aws/network/endpoints/main.tf
  terraform/modules/aws/network/management/main.tf
  terraform/modules/aws/network/network.tf
  terraform/modules/aws/network/private_subnet/private_subnet.tf
  terraform/modules/aws/network/public_subnet/public_subnet.tf
  terraform/modules/aws/network/subnet_tier/main.tf
  terraform/modules/aws/network/vpc/vpc.tf
  terraform/modules/hyperbola/app/backend/security-groups.tf
  terraform/modules/hyperbola/app/mysql/main.tf
Due: pylint

Bump version: 0.149.3 → 0.149.4
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Add a lab terraform environment
  terraform/lab/README.md
  terraform/lab/aws.tf
  terraform/lab/main.tf
Due: none

Update prettier hook and format YAML
  .pre-commit-config.yaml
  ansible/app.yml
  ansible/lb-local.yml
  ansible/mysql-local.yml
  ansible/requirements.yml
  ansible/roles/hyperbola-app/defaults/main.yml
  ansible/roles/hyperbola-app/handlers/main.yml
  ansible/roles/hyperbola-app/meta/main.yml
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
  ansible/roles/hyperbola-app/tasks/build-cleanup.yml
  ansible/roles/hyperbola-app/tasks/build-setup.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-app/tasks/services.yml
  ansible/roles/hyperbola-app/vars/local.yml
  ansible/roles/hyperbola-app/vars/production.yml
  ansible/roles/hyperbola-base/handlers/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-base/tasks/ansible.yml
  ansible/roles/hyperbola-base/tasks/main.yml
  ansible/roles/hyperbola-lb/meta/main.yml
  ansible/roles/hyperbola-nginx/defaults/main.yml
  ansible/roles/hyperbola-nginx/handlers/main.yml
  ansible/roles/hyperbola-nginx/tasks/main.yml
  ansible/roles/hyperbola-nginx/vars/Debian.yml
Due: none

Use aws_iam_policy_document instead of inline JSON
  terraform/app-local-iad/main.tf
  terraform/app-local-iad/temp
  terraform/modules/hyperbola/app/base/iam.tf
  terraform/modules/hyperbola/app/iam/main.tf
Due: none

Replace bin/cycle_asg with a more complete third party script
  .pre-commit-config.yaml
  bin/cycle_asg
  tasks.py
  vendor/aws-autoscaling-rollout.py
Due: pylint

Update webpack deps
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

Update python deps
  .pre-commit-config.yaml
  poetry.lock
Due: none

yarn upgrade
  yarn.lock
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Add galaxy info to ansible roles
  ansible/roles/hyperbola-app/meta/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-lb/meta/main.yml
Due: none

Fold long command tasks
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
Due: none

Revert ansible-lint hook to 3.5.1 until E405 discussion is resolved
  .pre-commit-config.yaml
Due: none

Upgrade ansible-lint hook and suppress E405
  .ansible-lint
  .pre-commit-config.yaml
Due: none

Bump version: 0.149.4 → 0.150.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint

Path conditions:
  pylint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
