Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend, ansible-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit
    sha: v1.4.3
    hooks:
    -   id: validate_manifest
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    sha: v1.1.1
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
        language_version: python3
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        exclude: vars|app-local-mysql.yml
    -   id: debug-statements
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
    -   id: flake8
        exclude: migrations
        language_version: python3
    -   id: forbid-new-submodules
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: trailing-whitespace
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
-   repo: https://github.com/adambrenecki/pre-commit-python-sorter.git
    sha: 1.0.5
    hooks:
    -   id: python-import-sorter
        types: [python]
        files: ''
-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    sha: v1.1.0
    hooks:
    -   id: python-safety-dependencies-check
        always_run: true
-   repo: https://github.com/chewse/pre-commit-mirrors-pydocstyle.git
    sha: v2.1.1
    hooks:
    -   id: pydocstyle
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: venv/bin/pylint
        language: script
        types: [python]
-   repo: https://github.com/asottile/pyupgrade.git
    sha: v1.2.0
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/antonbabenko/pre-commit-terraform.git
    sha: v1.2.0
    hooks:
    -   id: terraform_fmt
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        types: [javascript]
        exclude: min\.js$|dist
        entry: node_modules/.bin/eslint --ext js
        language: system
-   repo: https://github.com/pre-commit/mirrors-csslint.git
    sha: v1.0.5
    hooks:
    -   id: csslint
        exclude: min\.css$|dist
-   repo: https://github.com/detailyang/pre-commit-shell
    sha: 1.0.2
    hooks:
    -   id: shell-lint
        types: [shell]
        files: ''
        exclude: geerlingguy|hswong3i
-   repo: local
    hooks:
    -   id: build-frontend
        name: Frontend codegen
        entry: make build
        language: system
        files: (src|dist|\.css$|\.js$|\.svg$|\.png$)
        pass_filenames: false
    -   id: ansible-lint
        name: Ansible playbook and role linters
        entry: make lint-ansible
        language: system
        types: [yaml]
        files: ansible
        pass_filenames: false
    -   id: git-lint
        name: Git linters
        entry: make lint-git
        language: system
        always_run: true
        pass_filenames: false

Add localdocker environment
  docker/app/ansible/templates/dotenv.j2
  hyperbola/settings.py
Due: pylint

Add a static assets and gunicorn proxying container
  .dockerignore
  docker/Makefile
  docker/static/Dockerfile
  docker/static/README.md
  docker/static/humans.txt
  docker/static/hyperbola.conf
  docker/static/nginx-base-config/base/01-server-tokens.nginx.conf
  docker/static/nginx-base-config/base/02-gzip.nginx.conf
  docker/static/nginx-base-config/base/03-logs-to-journald.nginx.conf
  docker/static/nginx-base-config/directive-only/cache-file-descriptors.nginx.conf
  docker/static/nginx-base-config/directive-only/charset-utf8.nginx.conf
  docker/static/nginx-base-config/directive-only/no-transform.nginx.conf
  docker/static/nginx-base-config/directive-only/ssl/hsts.nginx.conf
  docker/static/nginx-base-config/directive-only/ssl/ssl-stapling.nginx.conf
  docker/static/nginx-base-config/directive-only/ssl/ssl.nginx.conf
  docker/static/nginx-base-config/directive-only/static/extra-security.nginx.conf
  docker/static/nginx-base-config/directive-only/x-ua-compatible.nginx.conf
  docker/static/nginx-base-config/internal/cross-domain-insecure.nginx.conf
  docker/static/nginx-base-config/location/health-check.nginx.conf
  docker/static/nginx-base-config/location/no-log.nginx.conf
  docker/static/nginx-base-config/location/static/cross-domain-fonts.nginx.conf
  docker/static/nginx-base-config/location/static/expires.nginx.conf
  docker/static/nginx-base-config/location/static/protect-system-files.nginx.conf
  docker/static/robots.txt
  hyperbola/settings.py
Due: pylint

rename and reorganize build
  docker/Makefile
  docker/app/Dockerfile
  docker/fixtures/Dockerfile
  docker/mysql/Dockerfile
  docker/static/Dockerfile
Due: none

Add an HTTPS ingress proxy
  docker/Makefile
  docker/app/Dockerfile
  docker/app/ansible/app.yml
  docker/app/ansible/local.ini
  docker/app/ansible/templates/dotenv.j2
  docker/app/ansible/vars/stage.yml
  docker/fixtures/Dockerfile
  docker/ingress/Dockerfile
  docker/ingress/ansible/ingress.yml
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/.gitignore
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/CHANGELOG.md
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/README.md
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/defaults/main.yml
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/handlers/main.yml
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/meta/.galaxy_install_info
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/meta/main.yml
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/tasks/main.yml
  docker/ingress/ansible/roles/mprahl.lets-encrypt-route-53/tasks/virtualenv.yml
  docker/ingress/ingress.conf
  docker/ingress/ssl-stapling.conf
  docker/ingress/ssl.conf
  docker/static/Dockerfile
  docker/static/hyperbola.conf
  hyperbola/settings.py
Due: pylint, ansible-lint

Move image building out of makefile to a script
  docker/Makefile
  docker/app/Dockerfile
  docker/bin/build-hyperbola-image
  docker/bin/launch-named-container
  docker/mysql/Dockerfile
  docker/static/Dockerfile
Due: none

Don't resolve AWS and dotenv secrets in makefile
  docker/Makefile
Due: none

Begin forking settings.py for stage
  docker/app/settings.py
Due: pylint

Optimize settings.py for docker
  docker/app/settings.py
Due: pylint

Refactor dotenv generation in app ansible
  docker/app/ansible/app.yml
  docker/app/ansible/files/gunicorn.py
  docker/app/ansible/templates/dotenv.j2
  docker/app/ansible/vars/production.yml
  docker/app/ansible/vars/stage.yml
Due: pylint, ansible-lint

integrate new settings and secrets format into build
  docker/app/Dockerfile
  docker/fixtures/fixtures-entrypoint.sh
Due: none

Rename containers to have the .app.hyperboladc.net suffix
  docker/Makefile
  docker/backend/Dockerfile
  docker/backend/ansible/backend.yml
  docker/backend/ansible/files/gunicorn.py
  docker/backend/ansible/templates/dotenv.j2
  docker/backend/ansible/vars/stage.yml
  docker/backend/settings.py
  docker/bin/launch-named-container
  docker/fixtures/Dockerfile
  docker/fixtures/fixtures-entrypoint.sh
  docker/ingress/ingress.conf
  docker/static/hyperbola.conf
Due: pylint, ansible-lint

Don't write the ansible password to a temp file in the build container
  docker/backend/Dockerfile
  docker/backend/ansible/ansible_vault_password.py
  docker/ingress/Dockerfile
  docker/ingress/ansible/ansible_vault_password.py
Due: pylint

Remove dependence on dotenv (python) from docker build process
  docker/Makefile
  docker/backend/Dockerfile
  docker/bin/build-hyperbola-image
  docker/fixtures/fixtures-entrypoint.sh
  docker/ingress/Dockerfile
Due: none

Replace .nginx.conf suffix with .conf
  docker/static/hyperbola.conf
  docker/static/nginx-base-config/base/01-server-tokens.conf
  docker/static/nginx-base-config/base/02-gzip.conf
  docker/static/nginx-base-config/base/03-logs-to-journald.conf
  docker/static/nginx-base-config/directive-only/cache-file-descriptors.conf
  docker/static/nginx-base-config/directive-only/charset-utf8.conf
  docker/static/nginx-base-config/directive-only/no-transform.conf
  docker/static/nginx-base-config/directive-only/ssl/hsts.conf
  docker/static/nginx-base-config/directive-only/ssl/ssl-stapling.conf
  docker/static/nginx-base-config/directive-only/ssl/ssl.conf
  docker/static/nginx-base-config/directive-only/static/extra-security.conf
  docker/static/nginx-base-config/directive-only/x-ua-compatible.conf
  docker/static/nginx-base-config/internal/cross-domain-insecure.conf
  docker/static/nginx-base-config/location/health-check.conf
  docker/static/nginx-base-config/location/no-log.conf
  docker/static/nginx-base-config/location/static/cross-domain-fonts.conf
  docker/static/nginx-base-config/location/static/expires.conf
  docker/static/nginx-base-config/location/static/protect-system-files.conf
Due: none

Rename nginx-base-config to base
  docker/static/Dockerfile
  docker/static/base/base/01-server-tokens.conf
  docker/static/base/base/02-gzip.conf
  docker/static/base/base/03-logs-to-journald.conf
  docker/static/base/directive-only/cache-file-descriptors.conf
  docker/static/base/directive-only/charset-utf8.conf
  docker/static/base/directive-only/no-transform.conf
  docker/static/base/directive-only/ssl/hsts.conf
  docker/static/base/directive-only/ssl/ssl-stapling.conf
  docker/static/base/directive-only/ssl/ssl.conf
  docker/static/base/directive-only/static/extra-security.conf
  docker/static/base/directive-only/x-ua-compatible.conf
  docker/static/base/internal/cross-domain-insecure.conf
  docker/static/base/location/health-check.conf
  docker/static/base/location/no-log.conf
  docker/static/base/location/static/cross-domain-fonts.conf
  docker/static/base/location/static/expires.conf
  docker/static/base/location/static/protect-system-files.conf
  docker/static/hyperbola.conf
Due: none

Add default_server for static and healthcheck
  docker/ingress/ingress.conf
  docker/static/hyperbola.conf
Due: none

pipenv install --deploy
  docker/backend/Dockerfile
Due: none

Revert changes to original settings.py
  hyperbola/settings.py
Due: pylint

Upgrade django to 2.0.6
  Pipfile.lock
Due: none

Remove burnfastburnbright.com terraform config (migrated into bfbb repo)
  terraform/env/wr-prod-northwest/aws.tf
  terraform/env/wr-prod-northwest/dns.tf
  terraform/env/wr-prod-northwest/main.tf
  terraform/env/wr-prod-northwest/site/WR-124.jpg
  terraform/env/wr-prod-northwest/site/android-chrome-192x192.png
  terraform/env/wr-prod-northwest/site/android-chrome-512x512.png
  terraform/env/wr-prod-northwest/site/apple-touch-icon.png
  terraform/env/wr-prod-northwest/site/error.html
  terraform/env/wr-prod-northwest/site/favicon.ico
  terraform/env/wr-prod-northwest/site/index.html
  terraform/env/wr-prod-northwest/site/robots.txt
Due: build-frontend

Use symlinks for publish-frklft task
  Makefile
  frklft/public/contact/careers
  frklft/public/contact/sales
  frklft/public/index
  frklft/public/team
Due: none

fix typo
  frklft/public/team.html
Due: none

Revert "Use symlinks for publish-frklft task"
  Makefile
  frklft/public/contact/careers
  frklft/public/contact/sales
  frklft/public/index
  frklft/public/team
Due: none

aws cli was not correctly guessing content type of symlinks
  Makefile
Due: none

Shrink backend ASG and enable CPU metric autoscaling
  terraform/hyperbola/app/backend/main.tf
Due: none

Switch app RDS to single-AZ
  terraform/hyperbola/app/mysql/main.tf
Due: none

Remove unused bastion terraform config
  terraform/aws/network/bastion/bastion.tf
  terraform/aws/network/bastion/linux-bastion-master.template
  terraform/aws/network/network.tf
  terraform/env/app-prod-northwest/dns.tf
  terraform/env/app-prod-northwest/main.tf
  terraform/env/app-prod-northwest/vpc.tf
  terraform/hyperbola/app/backend/security-groups.tf
Due: none

Remove unused aurora terraform config
  terraform/aws/network/subnet_tier/main.tf
  terraform/hyperbola/app/mysql-aurora/main.tf
Due: none

Remove unused redis terraform config
  terraform/aws/network/subnet_tier/main.tf
  terraform/hyperbola/app/redis/main.tf
Due: none

Upgrade js deps
  dist/main.bundle.js
  package.json
  yarn.lock
Due: build-frontend

clean up webpack config, remove empty main.js
  dist/main.bundle.js
  src/hyperbola.browser.js
  src/main.js
  webpack.config.js
Due: eslint, build-frontend

Make local vms smaller mem
  Vagrantfile
Due: none

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Move FRKLFT to its own repo
  Makefile
  frklft/public/android-chrome-192x192.png
  frklft/public/android-chrome-512x512.png
  frklft/public/apple-touch-icon.png
  frklft/public/contact/careers.html
  frklft/public/contact/sales.html
  frklft/public/favicon.ico
  frklft/public/img/forklift-servers.png
  frklft/public/img/forklift-tires.jpg
  frklft/public/img/team/crane.jpg
  frklft/public/img/team/forklift.jpg
  frklft/public/img/team/front-loader.jpg
  frklft/public/img/team/speed-swing.jpg
  frklft/public/img/team/uneven-pavement.jpg
  frklft/public/img/tire-rack.png
  frklft/public/index.html
  frklft/public/logo.png
  frklft/public/robots.txt
  frklft/public/team.html
  frklft/src/dev.py
  frklft/src/index.js
  package.json
  terraform/env/frklft-prod-northwest/aws.tf
  terraform/env/frklft-prod-northwest/contact-form-cloudformation-stack.yml
  terraform/env/frklft-prod-northwest/contact.tf
  terraform/env/frklft-prod-northwest/dns.tf
  terraform/env/frklft-prod-northwest/main.tf
  yarn.lock
Due: pylint, eslint, build-frontend

Remove site ssh key
  terraform/env/app-prod-northwest/main.tf
  terraform/env/global/main.tf
Due: none

Update python deps
  Pipfile.lock
Due: none

For VM provisioning, upload source to /hyperbola/sdist
  Vagrantfile
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-app/templates/hyperbo.la.conf.j2
  hyperbola/settings.py
Due: pylint, ansible-lint

Port some docker learnings back to vm provisioning
  Vagrantfile
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-app/templates/dotenv.j2
  ansible/roles/hyperbola-app/templates/hyperbo.la.conf.j2
  ansible/roles/hyperbola-app/vars/local.yml
  ansible/roles/hyperbola-lb/templates/lb.conf.j2
  ansible/roles/hyperbola-nginx/files/base/base/01-server-tokens.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/base/02-gzip.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/base/03-logs-to-journald.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/cache-file-descriptors.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/charset-utf8.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/no-transform.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/ssl/hsts.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/ssl/ssl-stapling.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/ssl/ssl.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/static/extra-security.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/directive-only/x-ua-compatible.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/internal/cross-domain-insecure.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/location/health-check.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/location/no-log.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/location/static/cross-domain-fonts.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/location/static/expires.nginx.conf
  ansible/roles/hyperbola-nginx/files/base/location/static/protect-system-files.nginx.conf
  ansible/roles/hyperbola-nginx/tasks/main.yml
  docker/backend/Dockerfile
  hyperbola/settings.py
Due: pylint, ansible-lint

Remove custom settings.py from container build
  docker/Makefile
  docker/backend/Dockerfile
  docker/backend/settings.py
  docker/fixtures/fixtures-entrypoint.sh
Due: pylint

Fix backups
  hyperbola/settings.py
Due: pylint
