Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend, ansible-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit
    sha: v1.4.3
    hooks:
    -   id: validate_manifest
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    sha: v1.1.1
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
        language_version: python3
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        exclude: vars|app-local-mysql.yml
    -   id: debug-statements
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
    -   id: flake8
        exclude: migrations
        language_version: python3
    -   id: forbid-new-submodules
    -   id: mixed-line-ending
    -   id: name-tests-test
    -   id: trailing-whitespace
        exclude: src|dist|geerlingguy|hswong3i|.bumpversion.cfg
-   repo: https://github.com/adambrenecki/pre-commit-python-sorter.git
    sha: 1.0.5
    hooks:
    -   id: python-import-sorter
        types: [python]
        files: ''
-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    sha: v1.1.0
    hooks:
    -   id: python-safety-dependencies-check
        always_run: true
-   repo: https://github.com/chewse/pre-commit-mirrors-pydocstyle.git
    sha: v2.1.1
    hooks:
    -   id: pydocstyle
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: venv/bin/pylint
        language: script
        types: [python]
-   repo: https://github.com/asottile/pyupgrade.git
    sha: v1.2.0
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/antonbabenko/pre-commit-terraform.git
    sha: v1.2.0
    hooks:
    -   id: terraform_fmt
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        types: [javascript]
        exclude: min\.js$|dist
        entry: node_modules/.bin/eslint --ext js
        language: system
-   repo: https://github.com/pre-commit/mirrors-csslint.git
    sha: v1.0.5
    hooks:
    -   id: csslint
        exclude: min\.css$|dist
-   repo: https://github.com/detailyang/pre-commit-shell
    sha: 1.0.2
    hooks:
    -   id: shell-lint
        types: [shell]
        files: ''
        exclude: geerlingguy|hswong3i
-   repo: local
    hooks:
    -   id: build-frontend
        name: Frontend codegen
        entry: make build
        language: system
        files: (src|dist|\.css$|\.js$|\.svg$|\.png$)
        pass_filenames: false
    -   id: ansible-lint
        name: Ansible playbook and role linters
        entry: make lint-ansible
        language: system
        types: [yaml]
        files: ansible
        pass_filenames: false
    -   id: git-lint
        name: Git linters
        entry: make lint-git
        language: system
        always_run: true
        pass_filenames: false

Bump version: 0.129.3 → 0.129.4
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Set requires_system_checks to false for minimizetemplates
  hyperbola/core/management/commands/minimizetemplates.py
Due: pylint

Bump version: 0.129.4 → 0.129.5
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Fix packer config to remove key deprecated in packer 1.2.0
  packer/app.json
Due: none

Update py deps
  Pipfile.lock
Due: none

Bump version: 0.129.5 → 0.130.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Add support for named shortlinks that redirect to a configurable target
  hyperbola/settings.py
  hyperbola/shortlinks/__init__.py
  hyperbola/shortlinks/admin.py
  hyperbola/shortlinks/migrations/0001_initial.py
  hyperbola/shortlinks/migrations/__init__.py
  hyperbola/shortlinks/models.py
  hyperbola/shortlinks/urls.py
  hyperbola/shortlinks/views.py
  hyperbola/urls.py
Due: pylint

Bump version: 0.130.0 → 0.131.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

Upgrade ansible-lint
  Makefile
  Pipfile.lock
Due: none

update hooks
  .pre-commit-config.yaml
Due: none

bump js deps, no webpack 4 yet
  .pre-commit-config.yaml
  yarn.lock
Due: none

Add torian.python build from source role
  .pre-commit-config.yaml
  ansible/roles/torian.python/.gitignore
  ansible/roles/torian.python/.travis.yml
  ansible/roles/torian.python/CHANGELOG.md
  ansible/roles/torian.python/LICENSE
  ansible/roles/torian.python/README.md
  ansible/roles/torian.python/Vagrantfile
  ansible/roles/torian.python/ansible.cfg
  ansible/roles/torian.python/defaults/main.yml
  ansible/roles/torian.python/meta/.galaxy_install_info
  ansible/roles/torian.python/meta/main.yml
  ansible/roles/torian.python/tasks/alternatives.yml
  ansible/roles/torian.python/tasks/build.yml
  ansible/roles/torian.python/tasks/install.yml
  ansible/roles/torian.python/tasks/install/Debian.yml
  ansible/roles/torian.python/tasks/install/RedHat.yml
  ansible/roles/torian.python/tasks/main.yml
  ansible/roles/torian.python/tasks/setuptools.yml
  ansible/roles/torian.python/tests/test_defaults.yml
  ansible/roles/torian.python/tests/test_vagrant.yml
  ansible/roles/torian.python/vars/Debian.yml
  ansible/roles/torian.python/vars/RedHat.yml
Due: ansible-lint

Compile python from source
  Vagrantfile
  ansible/roles/hyperbola-app/meta/main.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/requirements.yml
Due: ansible-lint

Add skip tags to packer
  packer/app.json
Due: none

Install python3.6 from deadsnakes ppa
  ansible/app.yml
  ansible/roles/hyperbola-app/meta/main.yml
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

Remove torian.python role
  .pre-commit-config.yaml
  Vagrantfile
  ansible/roles/hyperbola-app/meta/main.yml
  ansible/roles/requirements.yml
  ansible/roles/torian.python/.gitignore
  ansible/roles/torian.python/.travis.yml
  ansible/roles/torian.python/CHANGELOG.md
  ansible/roles/torian.python/LICENSE
  ansible/roles/torian.python/README.md
  ansible/roles/torian.python/Vagrantfile
  ansible/roles/torian.python/ansible.cfg
  ansible/roles/torian.python/defaults/main.yml
  ansible/roles/torian.python/meta/.galaxy_install_info
  ansible/roles/torian.python/meta/main.yml
  ansible/roles/torian.python/tasks/alternatives.yml
  ansible/roles/torian.python/tasks/build.yml
  ansible/roles/torian.python/tasks/install.yml
  ansible/roles/torian.python/tasks/install/Debian.yml
  ansible/roles/torian.python/tasks/install/RedHat.yml
  ansible/roles/torian.python/tasks/main.yml
  ansible/roles/torian.python/tasks/setuptools.yml
  ansible/roles/torian.python/tests/test_defaults.yml
  ansible/roles/torian.python/tests/test_vagrant.yml
  ansible/roles/torian.python/vars/Debian.yml
  ansible/roles/torian.python/vars/RedHat.yml
  packer/app.json
Due: ansible-lint

parameterize python interpreter
  ansible/app.yml
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

Update README.md
  README.md
Due: none

Update .python-version to latest 3.6
  .python-version
Due: none

Actually pull in ansible-lint fix
  Pipfile
  Pipfile.lock
Due: none

It does not make sense to pin versions from a ppa
  ansible/app.yml
  ansible/roles/hyperbola-app/tasks/main.yml
Due: ansible-lint

Fix 3.6 deprecation warning with regexp escapes requiring raw strings
  hyperbola/lifestream/views.py
Due: pylint

Add perf optimizations to settings.py
  hyperbola/settings.py
Due: pylint

Bump version: 0.131.0 → 0.132.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  package.json
  packer/app.json
  setup.cfg
Due: ansible-lint

install dotenv cli (needed for packer build)
  Pipfile
  Pipfile.lock
Due: none

move load_dotenv into main
  bin/ansible_vault_password.py
Due: pylint

Code cleanup for deregister_ami
  bin/deregister_ami
Due: none

Genericize DNS terraform code for S3 website template
  terraform/env/wr-prod-northwest/dns.tf
Due: none

Spin up FRKLFT S3 and CloudFront-backed site
  terraform/env/frklft-prod-northwest/aws.tf
  terraform/env/frklft-prod-northwest/dns.tf
  terraform/env/frklft-prod-northwest/main.tf
  terraform/env/frklft-prod-northwest/site/android-chrome-192x192.png
  terraform/env/frklft-prod-northwest/site/android-chrome-512x512.png
  terraform/env/frklft-prod-northwest/site/apple-touch-icon.png
  terraform/env/frklft-prod-northwest/site/error.html
  terraform/env/frklft-prod-northwest/site/favicon.ico
  terraform/env/frklft-prod-northwest/site/forklift-servers.jpg
  terraform/env/frklft-prod-northwest/site/forklift-tires.jpg
  terraform/env/frklft-prod-northwest/site/index.html
  terraform/env/frklft-prod-northwest/site/robots.txt
  terraform/env/frklft-prod-northwest/site/team-crane.jpg
  terraform/env/frklft-prod-northwest/site/team-forklift.jpg
  terraform/env/frklft-prod-northwest/site/team-speed-swing.jpg
  terraform/env/frklft-prod-northwest/site/team.html
  terraform/env/frklft-prod-northwest/site/tire-rack.png
Due: build-frontend

typo fix
  terraform/env/frklft-prod-northwest/site/team.html
Due: none

Redirect 404 to index with a 302
  terraform/env/frklft-prod-northwest/main.tf
Due: none

Rename team link and add @jlouns pic
  terraform/env/frklft-prod-northwest/main.tf
  terraform/env/frklft-prod-northwest/site/error.html
  terraform/env/frklft-prod-northwest/site/index.html
  terraform/env/frklft-prod-northwest/site/team-front-loader.jpg
  terraform/env/frklft-prod-northwest/site/team.html
Due: none

Add logo to nav and make team hero transparent
  terraform/env/frklft-prod-northwest/main.tf
  terraform/env/frklft-prod-northwest/site/forklift-servers.png
  terraform/env/frklft-prod-northwest/site/index.html
  terraform/env/frklft-prod-northwest/site/logo.png
  terraform/env/frklft-prod-northwest/site/team.html
Due: build-frontend

Carousel tweaks on team page
  terraform/env/frklft-prod-northwest/site/team.html
Due: none

Remove unused and duplicative error page
  terraform/env/frklft-prod-northwest/main.tf
  terraform/env/frklft-prod-northwest/site/error.html
Due: none

Make pages responsive
  terraform/env/frklft-prod-northwest/site/index.html
  terraform/env/frklft-prod-northwest/site/team.html
Due: none

Square favicon
  terraform/env/frklft-prod-northwest/site/favicon.ico
Due: none

Add spencer uneven pavement image
  terraform/env/frklft-prod-northwest/main.tf
  terraform/env/frklft-prod-northwest/site/team-uneven-pavement.jpg
  terraform/env/frklft-prod-northwest/site/team.html
Due: none

Manage FRKLFT static site with s3 cli instead of terraform
  Makefile
  frklft/android-chrome-192x192.png
  frklft/android-chrome-512x512.png
  frklft/apple-touch-icon.png
  frklft/favicon.ico
  frklft/img/forklift-servers.png
  frklft/img/forklift-tires.jpg
  frklft/img/team/crane.jpg
  frklft/img/team/forklift.jpg
  frklft/img/team/front-loader.jpg
  frklft/img/team/speed-swing.jpg
  frklft/img/team/uneven-pavement.jpg
  frklft/img/tire-rack.png
  frklft/index.html
  frklft/logo.png
  frklft/robots.txt
  frklft/team.html
  terraform/env/frklft-prod-northwest/main.tf
  terraform/env/frklft-prod-northwest/site/forklift-servers.jpg
Due: build-frontend

Turn G Suite email setup into a terraform module
  terraform/hyperbola/gsuite/email-dns/main.tf
Due: none
