Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, eslint, build-frontend

pylint:
  name: pylint
  entry: venv/bin/pylint
  language: script

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext js
  language: system

build-frontend:
  name: Frontend codegen
  entry: make build
  language: system
  pass_filenames: false

Replace ntp with chrony
  ansible/requirements.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-base/tasks/main.yml
Due: none

Reenable ansible profile_tasks
  Vagrantfile
Due: none

Bump version: 0.145.0 → 0.146.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  setup.cfg
  terraform/hyperbola/app/backend/main.tf
Due: pylint, build-frontend

Modularize hyperbola-app tasks
  ansible/roles/hyperbola-app/defaults/main.yml
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
  ansible/roles/hyperbola-app/tasks/build-cleanup.yml
  ansible/roles/hyperbola-app/tasks/build-setup.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  ansible/roles/hyperbola-app/tasks/services.yml
  ansible/roles/hyperbola-app/templates/dotenv.j2
Due: none

Work around extras markers bug in pipenv
  Pipfile.lock
Due: none

Define an IAM role for app-local
  Vagrantfile
  ansible/roles/hyperbola-app/templates/dotenv.j2
  ansible/roles/hyperbola-app/vars/local.yml
  terraform/env/local/main.tf
  terraform/hyperbola/app/base/backup.tf
  terraform/hyperbola/app/base/media.tf
Due: none

Rip tasks out of the Makefile that have been automated in better ways
  Makefile
Due: none

Reorganize terraform code
  .gitignore
  doc/release-process.md
  terraform/app-local-iad/aws.tf
  terraform/app-local-iad/main.tf
  terraform/app-prod-pdx/aws.tf
  terraform/app-prod-pdx/dns.tf
  terraform/app-prod-pdx/main.tf
  terraform/app-prod-pdx/vpc.tf
  terraform/global/aws.tf
  terraform/global/dns.tf
  terraform/global/email.tf
  terraform/global/main.tf
  terraform/modules/aws/network/nat/nat.tf
  terraform/modules/aws/network/network.tf
  terraform/modules/aws/network/private_subnet/private_subnet.tf
  terraform/modules/aws/network/public_subnet/public_subnet.tf
  terraform/modules/aws/network/s3/s3.tf
  terraform/modules/aws/network/subnet_tier/main.tf
  terraform/modules/aws/network/vpc/vpc.tf
  terraform/modules/aws/util/iam/iam.tf
  terraform/modules/hyperbola/app/backend/main.tf
  terraform/modules/hyperbola/app/backend/security-groups.tf
  terraform/modules/hyperbola/app/base/backup.tf
  terraform/modules/hyperbola/app/base/dns.tf
  terraform/modules/hyperbola/app/base/iam.tf
  terraform/modules/hyperbola/app/base/media.tf
  terraform/modules/hyperbola/app/mysql/main.tf
  terraform/modules/hyperbola/gsuite/email-dns/main.tf
  terraform/state/aws.tf
Due: none

Follow naming best practices in terraform global env
  terraform/global/dns.tf
  terraform/global/email.tf
Due: none

Follow naming best practices in terraform app-local env
  terraform/app-local-iad/main.tf
Due: none

Follow naming best practices in terraform app-prod env
  terraform/app-prod-pdx/dns.tf
  terraform/app-prod-pdx/main.tf
  terraform/modules/hyperbola/app/mysql/main.tf
Due: none

Fix deprecation warning in private route 53 zone resource
  terraform/app-prod-pdx/dns.tf
Due: none

Follow naming best practices in terraform network module subnet names
  terraform/modules/aws/network/subnet_tier/main.tf
  terraform/modules/hyperbola/app/mysql/main.tf
Due: none

Follow naming best practices in terraform email-dns module
  terraform/modules/hyperbola/gsuite/email-dns/main.tf
Due: none

Add terraform validate pre-commit hook
  .pre-commit-config.yaml
Due: none

Add env names -> airport codes to README
  terraform/README.md
Due: none

Update README.md
  README.md
Due: none

Kill .hyperbola-jumbotron
  hyperbola/templates/404.html
  src/main.scss
Due: build-frontend

Remove .ansible-lint
  .ansible-lint
Due: none

prettier
  terraform/README.md
Due: none

Simplify webpack config
  hyperbola/templates/base.html
  src/index.js
  src/index.scss
  src/main.js
  webpack.config.js
Due: eslint, build-frontend

Swap out base64-inline-loader for url-loader
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

Consolidate scss and css module rules
  webpack.config.js
Due: eslint, build-frontend

optimization: save 2k in bundle size by using svg-url-loader for brand.svg
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

optimization: shrink css bundle using purgecss
  package.json
  webpack.config.js
  yarn.lock
Due: eslint, build-frontend

Move asset pipeline dep install to build-setup
  ansible/roles/hyperbola-app/tasks/app-deploy.yml
  ansible/roles/hyperbola-app/tasks/build-setup.yml
Due: none

Clean dependency management caches
  ansible/roles/hyperbola-app/tasks/build-cleanup.yml
Due: none

Enable chrony in local environment
  ansible/requirements.yml
  ansible/roles/hyperbola-base/handlers/main.yml
  ansible/roles/hyperbola-base/meta/main.yml
  ansible/roles/hyperbola-base/tasks/main.yml
Due: none

Fix bumpversion config for terraform after code reorganization
  .bumpversion.cfg
Due: none

Bump version: 0.146.0 → 0.147.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  setup.cfg
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint, build-frontend

Fixups to packer build
  Makefile
  ansible/roles/hyperbola-app/tasks/build-cleanup.yml
  ansible/roles/hyperbola-app/tasks/build-setup.yml
  ansible/roles/hyperbola-app/tasks/main.yml
  bin/dotenv-exec
  packer/scripts/ansible.sh
  packer/scripts/cleanup.sh
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Bump version: 0.147.0 → 0.147.1
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  setup.cfg
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint, build-frontend

Add a launch template for app backend
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Remove legacy launch configuration and asg
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Rename backend2 resource to backend
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Add scripts and docs for cycling backend ASG with launch template
  bin/cycle-asg
  doc/release-process.md
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

whitelist syntax styles since they are dynamic
  webpack.config.js
Due: eslint, build-frontend

Bump version: 0.147.1 → 0.148.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  setup.cfg
  terraform/modules/hyperbola/app/backend/main.tf
Due: pylint, build-frontend

Run bin/cycle-asg from repo root
  bin/cycle-asg
Due: none

Replace make with pyinvoke
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  bin/cycle-asg
  bin/cycle_asg
  doc/development.md
  doc/release-process.md
  tasks.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, but not: min\.js$|dist
  build-frontend: any of: (src|dist|\.css$|\.js$|\.scss|\.svg$|\.png$|package\.json|yarn\.lock)
