Repository lopopolo/hyperbola: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstyle, pylint, eslint

.pre-commit-config.yaml:

exclude: "^vendor/"
repos:
  - repo: https://github.com/pre-commit/pre-commit
    rev: v1.16.1
    hooks:
      - id: validate_manifest
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v2.2.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
        language_version: python3
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        exclude: vars|(lb|mysql)-local.yml|cloudformation
      - id: debug-statements
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.bumpversion\.cfg
      - id: flake8
        args:
          - "--max-line-length=99"
        language_version: python3
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
        exclude: \.bumpversion\.cfg
  - repo: https://github.com/prettier/prettier
    rev: 1.17.0
    hooks:
      - id: prettier
        exclude: \.vscode|\.html$
  - repo: https://github.com/prettier/prettier
    rev: 1.17.0
    hooks:
      - id: prettier
        name: prettier - markdown
        entry: prettier --write --prose-wrap always
        types: [markdown]
  - repo: https://github.com/ambv/black.git
    rev: 19.3b0
    hooks:
      - id: black
  - repo: https://github.com/willthames/ansible-lint.git
    rev: v4.1.0a0
    hooks:
      - id: ansible-lint
        types: [yaml]
        files: ansible
  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle --add-ignore D100,D101,D102,D103,D104,D105,D106,D107
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint.__main__
        language: system
        types: [python]
  - repo: https://github.com/asottile/pyupgrade.git
    rev: v1.16.3
    hooks:
      - id: pyupgrade
        args:
          - "--py36-plus"
  - repo: https://github.com/antonbabenko/pre-commit-terraform.git
    rev: v1.11.0
    hooks:
      - id: terraform_fmt
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn run eslint
        language: system
        types: [javascript]
  - repo: https://github.com/pre-commit/mirrors-csslint.git
    rev: v1.0.5
    hooks:
      - id: csslint
  - repo: https://github.com/detailyang/pre-commit-shell
    rev: 1.0.4
    hooks:
      - id: shell-lint
        types: [shell]
        files: ""
  - repo: local
    hooks:
      - id: git-lint
        name: Ignored files in git index
        entry: ./bin/git-lint
        language: script
        always_run: true
        pass_filenames: false

Update ssm-parameter-store (semver major)
  poetry.lock
  pyproject.toml
Due: none

Bump version: 0.156.0 → 0.157.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

Remove FRKLFT domains
  terraform/global/dns.tf
  terraform/global/email.tf
Due: none

terraform 0.12upgrade global domain
  terraform/global/aws.tf
  terraform/global/dns.tf
  terraform/global/email.tf
  terraform/global/main.tf
  terraform/global/versions.tf
Due: none

terraform 0.12upgrade app-local-iad domain
  terraform/app-local-iad/aws.tf
  terraform/app-local-iad/main.tf
  terraform/app-local-iad/versions.tf
Due: none

terraform 0.12upgrade aws/network module
  terraform/modules/aws/network/nat/nat.tf
  terraform/modules/aws/network/network.tf
  terraform/modules/aws/network/subnet_tier/main.tf
  terraform/modules/aws/network/vpc/vpc.tf
Due: none

terraform 0.12upgrade hyperbola module
  terraform/modules/hyperbola/app/base/backup.tf
  terraform/modules/hyperbola/app/base/dns.tf
  terraform/modules/hyperbola/app/base/iam.tf
  terraform/modules/hyperbola/app/base/media.tf
  terraform/modules/hyperbola/app/secrets/main.tf
Due: none

terraform 0.12upgrade lab domain
  terraform/lab/aws.tf
  terraform/lab/main.tf
  terraform/lab/versions.tf
Due: none

terraform 0.12upgrade state domain
  terraform/state/aws.tf
  terraform/state/main.tf
  terraform/state/versions.tf
Due: none

remove trailing newlines from 0.12upgrade
  terraform/app-local-iad/aws.tf
  terraform/app-local-iad/main.tf
  terraform/global/aws.tf
  terraform/global/dns.tf
  terraform/global/email.tf
  terraform/global/main.tf
  terraform/lab/aws.tf
  terraform/lab/main.tf
  terraform/modules/aws/network/nat/nat.tf
  terraform/modules/aws/network/network.tf
  terraform/modules/aws/network/subnet_tier/main.tf
  terraform/modules/aws/network/vpc/vpc.tf
  terraform/modules/hyperbola/app/base/backup.tf
  terraform/modules/hyperbola/app/base/dns.tf
  terraform/modules/hyperbola/app/base/iam.tf
  terraform/modules/hyperbola/app/base/media.tf
  terraform/modules/hyperbola/app/secrets/main.tf
  terraform/state/aws.tf
  terraform/state/main.tf
Due: none

Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

Upgrade RDS cert bundle to 2019
  terraform/app-prod-pdx/aws.tf
  terraform/modules/hyperbola/app/base/media.tf
  terraform/modules/hyperbola/app/mysql/main.tf
Due: none

Fix some terraform warnings
  terraform/modules/aws/network/management/main.tf
  terraform/modules/aws/network/private_subnet/private_subnet.tf
Due: none

tf version constraint cleanup + IAM password constraints
  terraform/app-local-iad/aws.tf
  terraform/global/aws.tf
  terraform/global/iam.tf
  terraform/global/main.tf
  terraform/global/versions.tf
  terraform/lab/aws.tf
  terraform/state/aws.tf
Due: none

hyperbola account alias is taken
  terraform/global/iam.tf
Due: none

address terraform single expression interpolation warnings
  terraform/modules/aws/util/iam/iam.tf
  terraform/modules/hyperbola/gsuite/email-dns/main.tf
Due: none

constrain terraform version to 0.12.x
  terraform/app-local-iad/versions.tf
  terraform/app-prod-pdx/versions.tf
  terraform/global/versions.tf
  terraform/lab/versions.tf
  terraform/state/versions.tf
Due: none

Improve security of terraform state configuration
  terraform/state/main.tf
Due: none

Bring JS deps to current versions
  package.json
  src/assets/favicons/android-chrome-192x192.png
  src/assets/favicons/android-chrome-512x512.png
  src/assets/favicons/apple-touch-icon.png
  src/assets/favicons/browserconfig.xml
  src/assets/favicons/favicon-16x16.png
  src/assets/favicons/favicon-32x32.png
  src/assets/favicons/favicon.ico
  src/assets/favicons/mstile-144x144.png
  src/assets/favicons/mstile-150x150.png
  src/assets/favicons/mstile-310x150.png
  src/assets/favicons/mstile-310x310.png
  src/assets/favicons/mstile-70x70.png
  src/assets/favicons/site.webmanifest
  src/assets/logo.png
  src/index.js
  webpack.config.js
  yarn.lock
Due: eslint

Invoke prettier and eslint with npx
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  hyperbola/frontpage/templates/frontpage.html
  package.json
  yarn.lock
Due: none

Upgrade to latest prettier for linting
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

update package.json
  package.json
Due: none

Bump version: 0.157.0 → 0.158.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

Update packer template - clean_ami_name no longer exists
  packer/app.json
Due: none

Bump version: 0.158.0 → 0.158.1
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

packer connectivity
  packer/app.json
Due: none

Revert "Bump version: 0.158.0 → 0.158.1"
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

Revert "Bump version: 0.157.0 → 0.158.0"
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

Remove bad formatting of frontpage template
  hyperbola/frontpage/templates/frontpage.html
Due: none

Revert "Revert "Bump version: 0.157.0 → 0.158.0""
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

Revert "Revert "Bump version: 0.158.0 → 0.158.1""
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

Bump version: 0.158.1 → 0.159.0
  .bumpversion.cfg
  ansible/roles/hyperbola-app/defaults/main.yml
  hyperbola/__init__.py
  package.json
  packer/app.json
  pyproject.toml
  terraform/modules/hyperbola/app/backend/main.tf
Due: pydocstyle, pylint

clean up warnings in hyperbola/backend/main.tf
  .pre-commit-config.yaml
  terraform/modules/hyperbola/app/backend/main.tf
Due: none

Address terraform warnings
  terraform/modules/aws/network/management/main.tf
  terraform/modules/aws/network/private_subnet/private_subnet.tf
  terraform/modules/aws/network/public_subnet/public_subnet.tf
  terraform/modules/hyperbola/app/backend/security-groups.tf
  terraform/modules/hyperbola/app/iam/main.tf
  terraform/modules/hyperbola/app/mysql/main.tf
Due: none

add tags
  terraform/modules/aws/util/iam/iam.tf
Due: none

Use lists as variable types in iam module
  terraform/global/main.tf
  terraform/modules/aws/util/iam/iam.tf
Due: none

begin rolling admin IAM
  terraform/global/main.tf
Due: none

Remove hyperbola-admin-2
  terraform/global/main.tf
Due: none

Destroy app-local-iad resources
  terraform/app-local-iad/destroy-log.md
  terraform/app-local-iad/main.tf
  terraform/app-local-iad/manually-destroyed.md
Due: none

Destroy app-local-iad S3 buckets
  terraform/app-local-iad/manually-destroyed.md
Due: none
